@import "tailwindcss";

@theme {
  --color-primary: #0f172a; /* slate-900 */
  --color-accent: #10b981;  /* emerald-500 */
  --color-accent-hover: #059669; /* emerald-600 */
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-gray-50 text-slate-900;
  }
}

